@import "../style";

body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
}

.dock-tabpane > div {
  margin: 20px;
}

.top-panel {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

button {
  display: inline-block;
  margin: 5px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  color: #212529;
  background-color: #fff;
  border: 1px solid #e9ecef;
  padding: 3px 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}


button:hover {
  color: #000;
  background-color: #f8f8f8;
  border-color: #cbd3da;
  text-decoration: none;
}

button:focus, button.focus {
  outline: 0;
}

button.disabled, button:disabled {
  color: #888;
  background-color: #f8f8f8;
  border-color: #e9ecef;
  opacity: 0.65;
}
