{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 1 Chrome version",
            "last 1 edge version",
            "last 1 firefox version"
          ]
        }
      }
    ]
  ]
}
