
node_modules

/.nyc_output
/coverage
/playground
/.idea
/.cache
/.babelrc
build
/src/**/*.js
/test/**/*.js
/lib/example
/lib/src
*.map
/dist/*.*.*
/tool/**/*.js
/temp*
/www

/tool
/example
/.github
/typedocconfig.js
/.travis.yml
/.vscode
/yarn.lock
/yarn-error.log