@import "./tabs";

@dock-prefix: dock;

.dock-panel {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #ddd;
}

.dock-box {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.dock-divider {
  flex: 0 0 4px;
  background: rgba(0, 0, 0, 0.01);
}

.dock-hbox {
  & > .dock-divider {
    cursor: ew-resize;
  }
}

.dock-vbox {
  flex-direction: column;

  & > .dock-divider {
    cursor: ns-resize;
  }
}
