@import "./tabs";

@dock-prefix: dock;

.dock-panel {
  box-sizing: border-box;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
}

.dock-box {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.dock-divider {
  flex: 0 0 4px;
  background: rgba(0, 0, 0, 0.01);
  z-index: 1;
}

.dock-hbox {
  & > .dock-divider {
    // extend it to 6px, overlap the panel borders
    transform: scaleX(1.5);
    cursor: ew-resize;
  }
}

.dock-fbox {
  pointer-events: none;

  & > .dock-panel {
    position: absolute;
    pointer-events: visible;
    box-shadow: 0 0 8px 2px #aaaaaa;
  }
}

.dock-vbox {
  flex-direction: column;

  & > .dock-divider {
    // extend it to 6px, overlap the panel borders
    transform: scaleY(1.5);
    cursor: ns-resize;
  }
}

.dock-layout {
  & > .dock-box {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}