
.dock-panel.dock-style-place-holder {
  border: none;

  & .dock-bar {
    display: none;
  }
}

// dock-headless-panel
.dock-layout > :not(.dock-fbox) {
  & .dock-panel.dock-style-headless {
    border: none;

    & .dock-bar {
      position: absolute;
      z-index: 1;
      opacity: 0;
      height: 20px;
      width: 100%;
      transition: all 0.15s ease-in-out;
    }

    & .dock-bar:hover, &.dock-panel-dropping .dock-bar {
      opacity: 1;
      height: 31px;
    }
  }
}

.dock-panel.dock-style-main {
  border: none;

  .dock-bar {
    background: none;
    border-bottom: 1px solid #eee;
  }

  .dock-tab {
    background: #fff;
  }
}


